.band-banner-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;

  .band-banner {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .band-banner-wrapper {
    max-width: 1200px;
  }
}