form {
  margin-top: 10px;
  width: 100%;

    label {
      width: 300px !important;
      font-weight: 500;
      font-size: 1.2rem;
      color: var(--cream);
      font-family: 'League Spartan', sans-serif;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
    }
}

.form-submit-button {
  width: 100%;
  background-color: var(--red);
  color: var(--cream);
  font-family: 'League Spartan', sans-serif;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--red);
}

.success {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.05rem;
  max-width: 680px;
  color: var(--cream);
}

.error {
  padding: 1rem 1rem 1rem 0rem;
  font-size: 1.05rem;
  max-width: 680px;
  color: var(--red);
}

@media screen and (min-width: 600px) {
}




