.logo-outer {
  padding: 20px;
  width: 400px;

  img {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (min-width: 600px) {
  .logo-outer {
    padding: 20px;
    width: 400px;

    img {
      width: 100%;
      max-width: 300px;
    }
  }
}