# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.zip
/html/*.zip
# misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log
yarn-error.log
/typings
.DS_Store
/html/.DS_Store
.claude/worktrees
.claude/settings.local.json